---
layout: default
---
<div id="link_bar">
    <ul class="horizontal_menu">
        <li>
            <a href="{% link index.md %}" {% if page.name == "index.md" %}class="active"{% endif %}>Hem</a>
        </li>
        <li>
            <a href="{% link scuba.md %}" {% if page.name == "scuba.md" %}class="active"{% endif %}>Sportdykning</a>
        </li>
        <li>
            <a href="{% link association.md %}" {% if page.name == "association.md" %}class="active"{% endif %}>Föreningen</a>
        </li>
    </ul>
</div>
<div class="main">
<div id="left_column">
    <ul class="anchor_menu">
        {% assign collection = site.collections | where: "label", page.collection_name | first %}
        {% for item in collection.docs %}
        <li><a href="#{{ item.permalink }}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
    <div id="facebook_feed"></div>
</div>
<div id="body">
    <h1>{{ page.title }}</h1>
    <section>
    {{ content }}
    </section>
</div>
<div id="right_column">
<div id="instagram_feed">
    <p><a href="https://www.instagram.com/sportdykninglindomesdk.nu/">Lindome SDK</a> på Instagram:</p>
    <p><iframe class="snapwidget-widget" frameborder="0" scrolling="no" src="https://snapwidget.com/embed/935525" 
        style="border: none; overflow: hidden; max-width: 100%; height: 1275px;"></iframe></p>
</div>
</div>
</div>